:root {
  --d-border-radius-large: 20px;
}

// list
.topic-cards-list {
  display: block;
  margin-top: 1.5rem;

  .topic-list-header {
    display: none;
  }

  .topic-list-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1em;
    border-top: 0;

    .after-topic-list-item-outlet {
      border: 0;
    }
  }

  .topic-list-item-separator td {
    display: block;
  }
}

// card
.topic-card {
  display: flex;
  gap: 1.5rem;
  border-radius: var(--d-border-radius-large);
  background-color: var(--secondary);
  box-shadow: var(--shadow-card);
  border: 1px solid transparent;

  &:hover,
  &.selected {
    cursor: pointer;
    border: 1px solid var(--primary-low);

    .title {
      text-decoration: underline;
    }
  }

  &.selected {
    .title {
      color: var(--quaternary) !important;
    }
  }

  &:has(.topic-card__op a:hover) {
    .main-link .title {
      text-decoration: none;
    }
  }

  // hiding core elements
  .num {
    &.posts,
    &.views,
    &.activity {
      display: none;
    }
  }

  .posters,
  &__tags {
    display: none;
  }

  // new elements styling
  &__thumbnail {
    flex: 0 0 30%;
    max-width: 450px;
    max-height: 100%;

    .main-thumbnail {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-top-left-radius: var(--d-border-radius-large);
      border-bottom-left-radius: var(--d-border-radius-large);
    }
  }

  .main-link {
    display: grid;
    grid-template-areas:
      "tags tags"
      "title title"
      "excerpt excerpt"
      "op op"
      "metadata metadata";
    grid-template-rows: auto auto 1fr auto auto;
    flex-grow: 1;
    padding: 1rem 1.5rem 1rem 0 !important;
    box-sizing: border-box;
    box-shadow: none !important;

    .topic-excerpt {
      display: none; // hide default excerpt from pinned topics
    }

    .link-top-line {
      grid-area: title;
      display: flex;
      align-items: center;

      &:hover {
        text-decoration: underline;
      }
    }

    .title {
      font-weight: bold;

      // limit title to 2 lines
      line-height: 1.4em;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      max-height: 2.8em; // calc((var(--line-height-large) * 2) em;
      padding: 0 !important;
    }

    .link-bottom-line {
      grid-area: tags;
      margin-bottom: 0.75rem;

      .badge-wrapper {
        display: none;
      }
    }

    .topic-card {
      &__category {
        grid-area: category;
      }

      &__op {
        grid-area: op;
        font-size: var(--font-down-1-rem);
      }

      &__metadata {
        grid-area: metadata;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .number,
        .d-icon,
        .activity a {
          font-weight: bold;
          font-size: var(--font-down-1-rem);
        }

        .right-aligned {
          margin-left: auto;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .item {
            flex-grow: 0;
            flex-shrink: 1;
            margin-left: 20px; // Adjust as necessary for spacing
          }
        }

        .topic__like-button {
          background-color: transparent;
          border: none;
          border-radius: 4px;
          transition: all 200ms ease-in-out;

          .d-icon {
            color: var(--primary-medium);
          }

          &:hover {
            background-color: var(--love-low);
            color: var(--love);

            .d-icon {
              color: var(--love);
            }
          }

          &.--liked {
            .d-icon {
              animation: like-toggle 200ms ease-in-out;
              color: var(--love);
            }
          }

          &:disabled {
            cursor: not-allowed;

            &:hover {
              background-color: unset;
              color: unset;
            }

            &:hover:not(.--liked) {
              .d-icon {
                color: unset;
              }
            }
          }
        }
      }

      &__publish-date {
        font-size: var(--font-down-1-rem);
      }

      &__excerpt {
        grid-area: excerpt;
      }

      &__excerpt-text {
        margin-block: 0.5rem 1rem;

        // limit title to 2 lines
        line-height: 1.1em;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        max-height: 3.3em;
      }

      &__activity {
        .num.activity {
          display: block;
          padding: 0;

          a {
            padding: 0;
          }
        }
      }
    }
  }
}

// remove fixed with and heat color from activity column
.topic-list .age,
.topic-list .activity {
  width: inherit;

  a {
    color: inherit;
  }
}

@keyframes like-toggle {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1);
  }
}
